Node_red_OPC_UA.txt
[{"id":"11d8a31c.5f835d","type":"OpcUa-Client","z":"5a10709a.79682","endpoint":"c5194cdc.292c1","action":"read","time":10,"timeUnit":"s","name":"Leer","x":410,"y":180,"wires":[["f82c0aee.5192d8","a0abe0fc.cbd9d"]]},{"id":"1f887e0e.7c86d2","type":"inject","z":"5a10709a.79682","name":"Analog_In","topic":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.Analog_In","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":180,"wires":[["11d8a31c.5f835d"]]},{"id":"f82c0aee.5192d8","type":"debug","z":"5a10709a.79682","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"a0abe0fc.cbd9d","type":"ui_gauge","z":"5a10709a.79682","name":"","group":"55066c3b.ae50a4","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":610,"y":120,"wires":[]},{"id":"e67a7d17.bf442","type":"OpcUa-Client","z":"5a10709a.79682","endpoint":"c5194cdc.292c1","action":"read","time":10,"timeUnit":"s","name":"Leer","x":410,"y":280,"wires":[["4040b211.cf078c","9333b42c.d0a748"]]},{"id":"32120b6c.e0c4a4","type":"inject","z":"5a10709a.79682","name":"Binary_In","topic":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.Binary_In","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":280,"wires":[["e67a7d17.bf442"]]},{"id":"4040b211.cf078c","type":"debug","z":"5a10709a.79682","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":280,"wires":[]},{"id":"9333b42c.d0a748","type":"ui_text","z":"5a10709a.79682","group":"55066c3b.ae50a4","order":0,"width":0,"height":0,"name":"LED","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"ebed4531.420038","type":"OpcUa-Client","z":"5a10709a.79682","endpoint":"c5194cdc.292c1","action":"write","time":10,"timeUnit":"s","name":"Escribir","x":440,"y":440,"wires":[["76be1585.f8efbc"]]},{"id":"c8bfe4e7.75aa98","type":"inject","z":"5a10709a.79682","name":"","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["7d9a12dc.2c539c"]]},{"id":"76be1585.f8efbc","type":"debug","z":"5a10709a.79682","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":440,"wires":[]},{"id":"7d9a12dc.2c539c","type":"OpcUa-Item","z":"5a10709a.79682","item":"ns=4;s=|var|CODESYS Control for Raspberry Pi SL.Application.PLC_PRG.Analog_Out","datatype":"String","value":"","name":"","x":240,"y":440,"wires":[["ebed4531.420038"]]},{"id":"c5194cdc.292c1","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.137.3:4840","secpol":"None","secmode":"NONE","login":false},{"id":"55066c3b.ae50a4","type":"ui_group","z":"","name":"Discreto","tab":"8c5c5e30.6dddf","disp":true,"width":"6","collapse":false},{"id":"8c5c5e30.6dddf","type":"ui_tab","z":"","name":"Demostracion","icon":"dashboard"}]