node.txt
[{"id":"91490d9d.f2425","type":"mqtt in","z":"9534545.575faa8","name":"Recibir","topic":"/Visualizacion/Pot1","qos":"0","broker":"bd880fa.a6466f","x":230,"y":240,"wires":[["12f97231.b680ae"]]},{"id":"12f97231.b680ae","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":240,"wires":[]},{"id":"947efa5d.c7cf78","type":"mqtt out","z":"9534545.575faa8","name":"Enviar","topic":"/Visualizacion/mt1","qos":"0","retain":"","broker":"bd880fa.a6466f","x":590,"y":540,"wires":[]},{"id":"b3fb4f52.ae92a","type":"inject","z":"9534545.575faa8","name":"Dato_escribir","topic":"/Visualizacion/mt1","payload":"120","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":540,"wires":[["947efa5d.c7cf78"]]},{"id":"6f6f3fc.83becc","type":"mqtt in","z":"9534545.575faa8","name":"Recibir_Bool","topic":"/Visualizacion/sw1","qos":"1","broker":"bd880fa.a6466f","x":250,"y":180,"wires":[["c5e83411.27e3c8"]]},{"id":"c5e83411.27e3c8","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":180,"wires":[]},{"id":"deae3adb.351388","type":"mqtt out","z":"9534545.575faa8","name":"Enviar","topic":"/Visualizacion/ld1","qos":"0","retain":"","broker":"bd880fa.a6466f","x":590,"y":600,"wires":[]},{"id":"e1e6bd7e.5070e","type":"inject","z":"9534545.575faa8","name":"Escribir_Led","topic":"/Visualizacion/ld1","payload":"TRUE","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":600,"wires":[["deae3adb.351388","c635eb2b.ee67c8"]]},{"id":"c635eb2b.ee67c8","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":660,"wires":[]},{"id":"6cfb6144.5140c","type":"mqtt in","z":"9534545.575faa8","name":"Recibir_Analog1","topic":"/inRPI/An1","qos":"1","broker":"bd880fa.a6466f","x":260,"y":120,"wires":[["1768fc1.cb2d904"]]},{"id":"1768fc1.cb2d904","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":120,"wires":[]},{"id":"67a99c17.e64ee4","type":"mqtt out","z":"9534545.575faa8","name":"","topic":"","qos":"","retain":"","broker":"819d05ab.a3bc98","x":570,"y":60,"wires":[]},{"id":"d53d4592.16e318","type":"mqtt in","z":"9534545.575faa8","name":"Recibir_Digital","topic":"/inRPI/Dg1","qos":"1","broker":"bd880fa.a6466f","x":250,"y":300,"wires":[["f62aa908.94b878"]]},{"id":"f62aa908.94b878","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":300,"wires":[]},{"id":"bb687752.a65028","type":"mqtt out","z":"9534545.575faa8","name":"Out_analg","topic":"/outRPI/Aout1","qos":"0","retain":"","broker":"bd880fa.a6466f","x":610,"y":360,"wires":[]},{"id":"b9b54ca3.d9bd5","type":"inject","z":"9534545.575faa8","name":"Out_analog","topic":"/outRPI/Aout1","payload":"120","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":360,"wires":[["bb687752.a65028","d5e5be1d.a6998"]]},{"id":"3c70c162.be23ae","type":"mqtt out","z":"9534545.575faa8","name":"Out_digital","topic":"/outRPI/Dout1","qos":"0","retain":"","broker":"bd880fa.a6466f","x":610,"y":440,"wires":[]},{"id":"2d937474.fd1f8c","type":"inject","z":"9534545.575faa8","name":"Out_digital","topic":"/outRPI/Dout1","payload":"TRUE","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":440,"wires":[["3c70c162.be23ae","801ee6ad.e505c8"]]},{"id":"801ee6ad.e505c8","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":480,"wires":[]},{"id":"d5e5be1d.a6998","type":"debug","z":"9534545.575faa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":400,"wires":[]},{"id":"bd880fa.a6466f","type":"mqtt-broker","z":"","name":"ServerCloudMqtt","broker":"m14.cloudmqtt.com","port":"13198","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"819d05ab.a3bc98","type":"mqtt-broker","z":"","name":"Mqtt_Ignition","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]